<div id="content" class="clearfix">
  <div>
    <h2>Listo!</h2>
    <p>Hemos cambiado tu foto de perfil. Gracias por usar Beispanama :-). <a href="http://www.twitter.com">Ir a Twitter a ver mi perfil</a>.</p>
    <p>Recuerda visitar el sitio de <a href="http://www.pixmatstudios.com">Pixmat Studios</a> para conocer más sobre nuestros servicios y productos.</p>
  </div>
</div><!--#content--> 